<div class="adding-block">
    <!--$ctrl.addedTask ixist only here, not in controller or somewhere else-->
    <p>here should be message from component-inside: {{$ctrl.message}}</p>

    <p>here should be message from outside controller: {{$ctrl.myName}}</p>

    <input type="text" size="75" ng-model = "$ctrl.addedTask">
    <button class="btn btn-primary add" ng-click = "$ctrl.add($ctrl.addedTask)"> Add </button>

    <p style="color:red" ng-click = "$ctrl.getSmth()"> getSmth </p>
    <!--<p style="color:green" ng-click = "$ctrl.postSmth()"> postSmth </p>-->
    <!--<p style="color:blue" ng-click = "$ctrl.putSmth()"> putSmth </p>-->
    <!--<p style="color:brown" ng-click = "$ctrl.deleteSmth()"> deleteSmth </p>-->
    <p ng-repeat="item in $ctrl.data">{{item.action}}</p>

    <child message="$ctrl.message"></child>
</div>